:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow: auto;
}

@media (min-width: 500px) {
    .texto-opcion {
        max-width: 25vw;
    }

    .texto-pregunta {
        max-width: 25vw;
    }
}