<h1 class="text-3xl sm:text-4xl my-6">Crea una encuesta</h1>
<form [formGroup]="form" (ngSubmit)="confirmarCrearEncuesta()">
    <div class="flex flex-column align-items-center">
        <div style="min-width: 40vw" class="w-full">
            <p-floatlabel variant="on" id="float-label-nombre-encuesta">
                <input pInputText id="input-nombre" formControlName="nombre" autocomplete="off" class="w-full" />
                <label for="input-nombre">Nombre de la encuesta</label>
            </p-floatlabel>
            @if (nombre.invalid && nombre.touched) {
            <app-texto-error>Requerido</app-texto-error>
            }
        </div>
        @for (pregunta of preguntas.value; track idx; let idx = $index) {
        <app-seccion class="w-full">
            <div class="flex flex-column align-items-center max-w-full">
                <div class="flex items-center justify-between w-full gap-2" style="max-width: 50vw;">
                    <p class="text-xs sm:text-sm my-auto text-wrap flex-1">
                        {{ pregunta.texto }} ({{ getTipoPreguntaPresentacion(pregunta.tipo) }})
                    </p>
                    <button type="button" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-text p-button-danger" (click)="confirmarEliminarPregunta(idx)"
                        style="height: 2rem; width: 2rem;"></button>
                </div>
                @if (pregunta.opciones && pregunta.opciones.length > 0) {
                <ul class="w-full mt-2">
                    @for (opcion of pregunta.opciones; track i; let i = $index) {
                    <li>
                        <p class="text-wrap m-1 text-sm">{{ opcion.texto }}</p>
                    </li>
                    }
                </ul>
                }
            </div>
        </app-seccion>
        }
        <div class="mt-2 w-full">
            <p-button label="Agregar Pregunta" (onClick)="abrirDialog()" icon="pi pi-plus" styleClass="w-full" />
            @if (preguntas.invalid && form.touched) {
            <app-texto-error>Debe agregar al menos una pregunta</app-texto-error>
            }
        </div>
        <button id="boton-finalizar" class="m-4 w-full" pButton pRipple type="submit" icon="pi pi-check"
            severity="contrast">
            Finalizar
        </button>
    </div>
</form>
<app-gestion-pregunta-dialog [(visible)]="dialogGestionPreguntaVisible" (agregarPregunta)="agregarPregunta($event)" />