section {
    background-color: #d1fae5;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
}