<p-dialog header="Crear pregunta" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" resizable="false"
    (onHide)="cerrar()" [contentStyle]="{ 'overflow-y': 'auto', 'scrollbar-width': 'none' }">
    <form [formGroup]="form" (ngSubmit)="agregar()">
        <div class="mt-1 flex flex-column">
            <div class="mb-3">
                <p-floatlabel variant="on">
                    <input pInputText id="input-texto" formControlName="texto" class="w-full" />
                    <label for="input-texto">Enunciado</label>
                </p-floatlabel>
                @if (texto.invalid && texto.touched) {
                <app-texto-error>Requerido</app-texto-error>
                }
            </div>
            <p-dropdown formControlName="tipo" [options]="getTiposPreguntaPresentacion()" optionLabel="presentacion"
                optionValue="tipo" placeholder="Tipo de Pregunta" appendTo="body" inputId="dropdown-tipos-pregunta"
                (onChange)="resetearOpciones()" [panelStyle]="{ width: '100%' }">
            </p-dropdown>
            @if (tipo.invalid && tipo.touched) {
            <app-texto-error>Requerido</app-texto-error>
            }
            @if (tipo.value && esMultipleChoice(tipo.value)) {
            <app-seccion maxWidth="100vw" minWidth="0vw" leftMargin="0vw" rightMargin="0vw">
                <span class="text-md font-medium">Opciones:</span>
                @if (opciones.value.length > 0){
                <ul class="p-0 my-2 list-none w-full border-none">
                    @for (opcion of opciones.value; track $index; let idx = $index) {
                    <li class="border-bottom-1 border-gray-300 last:border-b-0">
                        <div class="flex justify-between items-center px-4 py-1 ">
                            <span class="text-base flex-1">{{ opcion.texto }}</span>
                            <p-button (onClick)="confirmarEliminarOpcion(idx)" icon="pi pi-times"
                                styleClass="p-button-link text-gray-400 hover:text-gray-600 text-sm p-0"
                                [label]="''"></p-button>
                        </div>
                    </li>
                    }
                </ul>
                } @else {
                <p class="text-xs">Aun no hay opciones cargadas</p>
                }
                <p-button (onClick)="abrirAgregarOpcion()" label="Agregar Opción" icon="pi pi-plus"
                    styleClass="w-full" />
            </app-seccion>
            @if (opciones.touched && form.hasError("opcionesRequeridas")) {
            <app-texto-error>Debe ingresar opciones</app-texto-error>
            }
            }
            <button pButton pRipple type="submit" severity="contrast" icon="pi pi-check" class="w-full mt-3">
                Guardar
            </button>
        </div>
    </form>
</p-dialog>
<app-gestion-opcion-dialog [(visible)]="dialogGestionOpcionVisible" (agregarOpcion)="agregarOpcion($event)" />