<div class="grid align-items-center justify-content-between min-h-screen px-4 m-0" style="height: 100vh;">
    <div class="hidden md:flex md:col-6" style="height: 100%;">
        <img src="assets/img/survey.png" alt="Encuesta" class="img-fluid surveyImg" />
    </div>
    <div class="col-12 md:col-6 flex flex-column justify-content-center" style="height: 100%;">
        <h1 class="text-6xl font-bold mb-3">¡Bienvenido!</h1>
        <p class="text-lg mb-1">Realizá encuestas de forma:</p>
        <div class="grid align-items-center">
            <div class="col-7 pl-4">
                <p><i class="pi pi-check-square text-green-600" style="font-size: 1rem"></i> Rápida</p>
                <p><i class="pi pi-check-square text-green-600" style="font-size: 1rem"></i> Simple</p>
                <p><i class="pi pi-check-square text-green-600" style="font-size: 1rem"></i> Anónima</p>
            </div>
            <div class="col-5 md:hidden">
                <img src="assets/img/survey.png" alt="Encuesta" class="img-fluid surveyImg" />
            </div>
        </div>
        <button pButton type="button" label="Empecemos!" class="p-button-raised p-button-primary mt-2"
            style="align-self: start" [routerLink]="'/creacion'"></button>
    </div>
</div>