<div class="items-center justify-content-center px-4 m-0">
    <div style="width: 100%;">
        <h1 class="text-6xl text-center font-bold mb-3">¡Listo!</h1>
    </div>
    <div className="">
        <p class="text-xl mb-1 text-center">Ya creaste tu encuesta</p>
        <p class="text-lg mb-4 text-center">Guardá estos links, los vas a necesitar!</p>
        <p class="text-sm font-bold mb-4 text-red-600 text-center">Si perdés estos enlaces no podrás recuperarlos</p>

    </div>
    <hr>
    <div class="text-center">
        <p>Enlace para contestar encuesta. Compartilo con tus entrevistados:</p>
        <div class="copyText flex bg-gray-100 pl-3 mb-2 border-1 border-solid">
            <p id="link1" class="text-sm truncate flex-1">
                {{ enlaceRespuesta }}
            </p>
            <button pButton type="button" icon="pi pi-copy" (click)="copiarTexto('link1'); op.toggle($event)"
                pTooltip="Copiar enlace" tooltipPosition="bottom"></button>
            <p-popover #op>
                <p class="m-0">Enlace copiado!</p>
            </p-popover>
        </div>
        <p>Enlace para ver las respuestas:</p>
        <div class="copyText flex bg-gray-100 pl-3 mb-2 border-1 border-solid">
            <p id="link2" class="text-sm truncate flex-1">
                {{ enlaceResultados }}
            </p>
            <button pButton type="button" icon="pi pi-copy" (click)="copiarTexto('link2')"></button>
        </div>
        <button pButton type="button" label="Volver al inicio" class="p-button-raised p-button-primary mt-4"
            style="align-self: start" [routerLink]="'/'"></button>
    </div>
</div>